{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
<h2>Sobre este site</h2>
<p>Aqui teremos desde os títulos até os principais jogadores, fique ligado!</p>
{% endblock content %}