{% extends 'base.html' %}

{% block title %}
Página Inicial
{% endblock title %}

{% block content %}
<h1><i>Blog do Flamengo</i></h1>
<p>A Página para admirar o maior clube do país</p>
{% endblock content %}