:root {
    --primary-color: #000000;
    --secondary-color: #118bee;
    --tertiary-color: #f44d27;
    --secondary-color-light: #30b2ff;
    --tertiary-color-light: #ff6d28;
    --bg-color: #fff;
    --secondary-bg-color: #e9e9e9;
    --color-shadow: #f4f4f4;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  header#cabecalho-principal {
    margin: 0 auto;
    width: 80%;
    max-width: 1080px;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    padding: 3rem 1rem;
    background-color: rgba(255, 255, 255, 0.993);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li a {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
  }
  
  li a:hover {
    color: var(--secondary-color-light);
    text-decoration: underline;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 217, 217);
  }
  
  nav#navegacao-principal li {
    display: inline-block;
    padding: 10px;
  }
  
  main {
    width: 80%;
    border: 1px solid rgba(221, 62, 62, 0.993) ;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    padding: 2%;
    margin: 0 auto;
    flex: 1;
    background-color: rgba(221, 62, 62, 0.993);
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4em;
    color: white;
  }
  
  footer#rodape-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
  }
  
  .lista-de-cards {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: 285px;
  }
  
  .small-card {
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: 160px;
  }
  
  .card img {
    width: 100%;
  }
  
  .small-card img {
    width: 100%;
  }
  
  a {
    color: var(--secondary-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--secondary-color-light);
    text-decoration: underline;
  }
  
  .dados-de-titulo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 1rem 0;
  }
  
  .dados-de-titulo img {
    width: 285px;
    box-shadow: 2px 2px 10px var(--color-shadow);
  }
  
  .dados-de-titulo ul {
    list-style-type: none;
  }
  
  input {
    display: block;
    width: 100%;
    max-width: 560px;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
  }
  
  button {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    color: var(--bg-color);
    border-radius: 5px;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
  }
  
  button:hover {
    background-color: var(--secondary-color-light);
    border: 2px solid var(--secondary-color-light);
  }
  
  @media only screen and (min-width: 576px) {
    .main {
        width: 100%;
    }
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4em;
    color: black;
  }