{% extends 'base.html' %}

{% block title %}
Criar Título
{% endblock title %}

{% block content %}
<h2>Criar Lista</h2>

<form action="{% url 'titles:create-list' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Criar</button>
</form>

{% endblock content %}