{% extends 'base.html' %}

{% block content %}
<h2>Inserir Novo Título</h2>
<form method="POST" action="{% url 'titles:create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Criar</button>
</form>

{% endblock content %}