{% extends 'base.html' %}

{% block content %}
<form action="{% url 'titles:delete' title.id %}" method="post">
    {% csrf_token %}
    <p>
        Você tem certeza que deseja apagar o título "{{ title.name }} ({{ title.year }})"?
    </p>
    <button type="submit">Apagar</button>
</form>

{% endblock content %}