{% extends 'base.html' %}

{% block title %}
{{ title.name }} ({{ title.year }}
{% endblock title %}

{% block content %}
<h2>Detalhes do Título {{ title.name }} ({{ title.year }})</h2>

<section class="dados-de-titulo">
    <img src="{{ title.title_photo }}" alt="Foto do título do(a) {{ title.name}}">
    <ul>
        <li>Título: {{ title.name }}</li>
        <li>Ano da conquista: {{ title.year }} </li>
    {% if title.list_set.all %}
        <li>Incluso nas listas: {{ title.list_set.all|join:", " }} </li>
    {% endif %}

        <li><a href="{% url 'titles:update' title.id %}">Editar</a></li>
        <li><a href="{% url 'titles:delete' title.id %}">Apagar</a></li>
    </ul>
</section>

<hr>

<section>
    <header>
        <h3>Resenhas</h3>
    </header>
    <ul>
        {% if title.review_set.all %}
            {% for review in title.review_set.all %}
                <figure>
                    <blockquote>
                        "{{ review.text }}"
                    </blockquote>
                    <figcaption>—{{ review.author }}
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum comentário para este título.</p>
        {% endif %}
    </ul>
    
    <hr>

    <a href="{% url 'titles:review' title.pk %}"><button>Crie seu comentário</button></a>
</section>
    
{% endblock content %}