{% extends 'base.html' %}

{% block content %}
<h2>Todos os Títulos</h2>
<section>
    <p>Muitos resultados? <a href="{% url 'titles:search' %}">Buscar Títulos</a></p>
    <p>Não encontrou o título? <a href="{% url 'titles:create' %}">Adicionar Novo Título</a></p>
</section>
{% if title_list %}
<section class="lista-de-cards">
    {% for title in title_list %}
    <article class="card">
        <a href="{% url 'titles:detail' forloop.counter %}"><img src="{{ title.title_photo }}"
                alt="Foto do título {{ title.name}}"></a>
        <p>{{ title.name }} ({{ title.year }})</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum título.</p>
{% endif %}

{% endblock content %}