{% extends 'base.html' %}

{% block title %}
Listas
{% endblock title %}

{% block content %}
<h2>Listas de Títulos</h2>

<section>
    {% for list in list_list %}
    <hr>
    <article>
        <header>
            <h3>{{list.name}} (de {{ list.author }}) </h3>
        </header>
        <div class="lista-de-cards">
            {% for title in list.titles.all %}
            <div class="card">
                <a href="{% url 'titles:detail' title.id %}"><img src="{{ title.title_photo }}"
                        alt="Poster do filme {{ title.name}}"></a>
                <p>{{ title.name }} ({{ title.year }})</p>
            </div>
            {% endfor %}
        </div>
    </article>
    {% endfor %}

    <a href="{% url 'titles:create-list' %}"><button>Crie sua Lista</button></a>
</section>

{% endblock content %}