{% extends 'base.html' %}

{% block content %}
<h2>Comentar Título {{ title.name }} ({{ title.year }})</h2>

<form action="{% url 'titles:review' title.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Postar Comentário</button>
</form>

<p><a href="{% url 'titles:detail' title.id %}">Voltar para a página do Título</a></p>
{% endblock content %}