{% extends 'base.html' %}

{% block content %}
<h2>Busca de Títulos por Nome</h2>
<form action="{% url 'titles:search' %}">
    <p>
        <label for="id_query">Título:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>


<h2>Resultado da Busca</h2>
{% if title_list %}
<section class="lista-de-cards">
    {% for title in title_list %}
    <article class="card">
        <img src="{{ title.title_photo }}" alt="Foto do título {{ title.name}}">
        <p>{{ title.name }} ({{ title.year }})</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhum filme para a busca.</p>
{% endif %}

{% endblock content %}