{% extends 'base.html' %}

{% block content %}
<h2>Atualizar Dados do Título {{ title.name }} ({{ title.year}})</h2>
<form method="POST" action="{% url 'titles:update' movie.id%}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Atualizar</button>
</form>

{% endblock content %}